/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}


.tag {
  background: #e5e7eb;
  padding: 4px 8px;
  border-radius: 6px;
}

.tag.ok {
  background: #dcfce7;
  color: #166534;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}