/* =========================
   PERFIL
========================= */

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.big-avatar {
  width: 130px;
  border-radius: 50%;
}