<!-- LISTA -->
<div *ngIf="!reporteSeleccionado">
  <div class="h2-filtros">
    <h2>Reportes Entrantes</h2>

    <div class="filtros">
      <button class="btn-filtro">Todos</button>
      <button class="btn-filtro">Baja</button>
      <button class="btn-filtro">Media</button>
      <button class="btn-filtro">Alta</button>
    </div>
  </div>


  <div class="card reporte-list"
    *ngFor="let r of reportes"
    (click)="seleccionar(r)">

    <b>{{r.tipo}}</b>
    <p>{{r.direccion}}</p>
    <span class="tag">{{r.etiqueta}}</span>

  </div>

</div>

<!-- DETALLE -->
<div *ngIf="reporteSeleccionado" class="detalle-reporte-full">

  <button class="btn-volver"
    (click)="reporteSeleccionado=null">
    <i class="fa-solid fa-arrow-left"></i>
    Volver
  </button> 

  <div class="detalle-container">

    <!-- IZQUIERDA -->
    <div class="detalle-foto">
      <img class="evidencia"
           src="assets/images/ejemplo2.jpg"
           alt="Evidencia del reporte">
    </div>

    <!-- DERECHA -->
    <div class="detalle-info">

      <div class="detalle-header">
        <h2>{{reporteSeleccionado.tipo}}</h2>
        <span class="tag">{{reporteSeleccionado.etiqueta}}</span>
      </div>

      <div class="detalle-datos">

        <div class="dato">
          <i class="fa-solid fa-location-dot"></i>
          <span>{{reporteSeleccionado.direccion}}</span>
        </div>

        <div class="dato">
          <i class="fa-solid fa-clock"></i>
          <span>{{reporteSeleccionado.hora}}</span>
        </div>

        <div class="dato">
          <i class="fa-solid fa-map-pin"></i>
          <span>{{reporteSeleccionado.coordenadas}}</span>
        </div>

      </div>

      <div class="desc-wrapper">
        <h4><i class="fa-solid fa-align-left"></i> Descripción</h4>
        <div class="desc-box">
          {{reporteSeleccionado.descripcion}}
        </div>
      </div>

      <div class="acciones">
        <button class="btn-ok"
          [disabled]="reporteSeleccionado?.estado === 'aceptado'"
          (click)="aceptarClick(reporteSeleccionado)">
          <i class="fa-solid fa-check"></i> Aceptar
        </button>

        <button class="btn-no"
          [disabled]="reporteSeleccionado?.estado === 'rechazado'"
          (click)="rechazarClick(reporteSeleccionado)">
          <i class="fa-solid fa-xmark"></i> Rechazar
        </button>
      </div>

    </div>

  </div>

  <!-- MAPA -->
  <div class="detalle-mapa">
    <iframe
      *ngIf="mapaUrl"
      [src]="mapaUrl"
      loading="lazy">
    </iframe>
  </div>

</div>