<div class="container-fluid mt-4">

  <div class="chart-card shadow">

    <!-- ================= HEADER ================= -->
    <div class="chart-header">

      <!-- FECHAS -->
      <div class="chart-calendar">
        <input type="date" [(ngModel)]="fechaInicio">
        <input type="date" [(ngModel)]="fechaFin">
        <button (click)="filtrarPorRango()">Aplicar</button>
      </div>


      <!-- FILTROS -->
      <div class="chart-filtros">

        <button
          (click)="cambiarModoGrafica('SEMANA')"
          [class.active]="modoGrafica==='SEMANA'">
          Semana
        </button>

        <button
          (click)="cambiarModoGrafica('ANIO')"
          [class.active]="modoGrafica==='ANIO'">
          Año
        </button>

        <button
          (click)="cambiarModoGrafica('DIA')"
          [class.active]="modoGrafica==='DIA'">
          Día
        </button>

      </div>
    </div>

    <!-- ================= SOLO DIA ================= -->
    <div *ngIf="modoGrafica==='DIA'" class="chart-calendar">
      <input type="date" [(ngModel)]="fechaSeleccionada">
    </div>

    <!-- ================= TARJETAS ================= -->
    <div class="dashboard-cards mt-4">

      <div class="dash-card">
        <i class="fa-solid fa-camera"></i>
        <span>Reportes hoy</span>
        <h2>12</h2>
      </div>

      <div class="dash-card">
        <i class="fa-solid fa-clock"></i>
        <span>Pendientes</span>
        <h2>4</h2>
      </div>

      <div class="dash-card">
        <span>Resueltos</span>
        <h2>8</h2>
      </div>

      <div class="dash-card">
        <span>Tiempo activo</span>
        <h2>5h 32m</h2>
      </div>

    </div>

    <!-- ================= BOTONES TIPO GRAFICA ================= -->
    <div class="botones-grafica">

      <button class="btn btn-outline-primary"
              (click)="cambiarTipoGrafica('bar')">
        Barras
      </button>

      <button class="btn btn-outline-primary"
              (click)="cambiarTipoGrafica('line')">
        Línea
      </button>

      <button class="btn btn-outline-primary"
              (click)="cambiarTipoGrafica('pie')">
        Pastel
      </button>

    </div>

    <!-- ================= GRAFICA ================= -->
    <div class="chart-container mt-4">
      <canvas id="miGrafica"></canvas>
    </div>

    <!-- ================= ACTIVIDAD ================= -->
    <div class="actividad-card">

      <h3>Actividad reciente</h3>

      <div class="actividad-item">
        🚨 Reporte aceptado – Carrera 15
      </div>

      <div class="actividad-item">
        ✅ Tarea finalizada – Control vehicular
      </div>

    </div>

  </div>
</div>