/* =========================
   DASHBOARD
========================= */



.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.dash-card {
  background: linear-gradient(135deg,#3b82f6,#1d4ed8);
  color: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  transition: transform .2s ease;
}

.dash-card:hover {
  transform: translateY(-5px);
}

.dash-card span {
  font-size: 13px;
  opacity: .8;
}

.dash-card h2 {
  margin: 10px 0 0;
  font-size: 28px;
}

/*-----------------------------------*/


.actividad-card {
  margin-top: 40px;
  background: var(--card);
  padding: 20px;
  border-radius: 18px;
}

.actividad-item {
  padding: 12px;
  border-bottom: 1px solid var(--border);
  font-size: 14px;
}


/*--------------------------------------*/


.chart-calendar {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.chart-calendar input {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.chart-calendar button {
  padding: 6px 14px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

/*---------------------------------*/

.chart-card {
  background: var(--card);
  padding: 25px;
  border-radius: 20px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-filtros {
  display: flex;
  gap: 10px;
}

.chart-filtros button {
  padding: 6px 14px;
  border-radius: 8px;
  border: none;
  background: #e5e7eb;
  cursor: pointer;
}

.chart-filtros button.active {
  background: #3b82f6;
  color: white;
}

.chart-bars {
   display: flex;
  align-items: flex-end;
  gap: 20px;
  height: 250px;
  margin-top: 20px;
  overflow: hidden; /* IMPORTANTE */
}

.bar {
  flex: 1;
  background: linear-gradient(180deg,#3b82f6,#1d4ed8);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.bar span {
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center;
}

/* ESTADO AGENTE */

