/* =========================
   HISTORIAL
========================= */

.historial-card {
  cursor: pointer;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,.4);
  background: var(--card);
  margin-bottom: 20px;
}

.historial-card:hover {
  transform: translateX(6px);
}

.hist-dir {
  color: #64748b;
  font-size: 14px;
}