/* =========================
   HISTORIAL
========================= */

.filtro-h2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filtros{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn-filtro {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background: #e2e8f0;
  color: #1e293b;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all .25s ease;
}

.btn-filtro:hover {
  background: #cbd5e1;
  transform: translateY(-2px);
}

.btn-filtro.activo {
  background: linear-gradient(135deg,#3b82f6,#2563eb);
  color: white;
  box-shadow: 0 6px 18px rgba(37,99,235,.4);
}

.historial-card {
  cursor: pointer;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,.4);
  background: var(--card);
  margin-bottom: 20px;
}

.historial-card:hover {
  transform: translateX(6px);
}

.hist-dir {
  color: #64748b;
  font-size: 14px;
}