/* =========================
   SIDEBAR AGENTE
========================= */

.sidebar {
  width: 260px;
  background: #1e293b;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: auto;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 18px;
}

.logo-img {
  width: 90px;
  height: 90px;
}

/* MENU */

.menu button {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  background: none;
  border: none;
  color: #cbd5e1;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.menu button:hover,
.menu button.active {
  background: #3498db;
  color: white;
}